In [116]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sb
import os
import matplotlib.pyplot as plt

데이터 불러오기(수산물_통합전처리_3컬럼.csv)

In [ ]:
file_path = './data/수산물_통합전처리_3컬럼.csv'

try:
    # 파일 불러오기
    data_all = pd.read_csv(file_path, encoding='utf-8')
    
    print("✓ 파일 로드 성공!")
    print(f"\n데이터 shape: {data_all.shape}")
    print(f"행 수: {len(data_all):,}행")
    print(f"컬럼 수: {len(data_all.columns)}개")
    
    print(f"\n컬럼 목록:")
    for i, col in enumerate(data_all.columns, 1):
        print(f"  {i}. {col}")
    
    print(f"\n처음 5행:")
    print(data_all.head())
    
    print(f"\n데이터 타입:")
    print(data_all.dtypes)
    
    print(f"\n기본 통계:")
    print(data_all.describe())
    
    print(f"\n결측치 확인:")
    print(data_all.isnull().sum())
    
except UnicodeDecodeError:
    print("utf-8 인코딩 실패. cp949로 재시도 중...")
    data_all = pd.read_csv(file_path, encoding='cp949')
    print("✓ cp949 인코딩으로 로드 성공!")
    print(data_all.head())
    
except Exception as e:
    print(f"✗ 오류 발생: {e}")

In [16]:
data_all

,어종,산지,규격,포장,수량,중량,낙찰고가,낙찰저가,평균가,파일어종,year,month,date,전처리,품목명,공통어종
0,(선)갈치,목포,5미,S/P,1,15.0,"110,000","110,000","110,000",갈치,2021,1,2021-01-01,선,갈치,갈치
1,(선)갈치,목포,10미,S/P,39,15.0,"200,000","30,000","141,700",갈치,2021,1,2021-01-01,선,갈치,갈치
2,(선)갈치,목포,중,S/P,3,20.0,"110,000","77,000","99,000",갈치,2021,1,2021-01-01,선,갈치,갈치
3,(선)갈치,목포,8미,S/P,25,20.0,"155,000","50,000","138,600",갈치,2021,1,2021-01-01,선,갈치,갈치
4,(선)갈치,삼천포,중,S/P,2,20.0,"200,000","200,000","200,000",갈치,2021,1,2021-01-01,선,갈치,갈치
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37550,(선)홍어,방어진,1미,kg,9.4,1.0,"8,500","8,500","8,500",홍어,2024,12,2024-12-01,선,홍어,홍어
37551,(선)홍어,인천,중,kg,127.3,1.0,"5,000","4,500","4,800",홍어,2024,12,2024-12-01,선,홍어,홍어
37552,(선)홍어,안흥,5/6미,kg,638.3,1.0,"3,500","3,000","3,100",홍어,2024,12,2024-12-01,선,홍어,홍어
37553,(선)홍어,방어진,6미,kg,49,1.0,"4,000","4,000","4,000",홍어,2024,12,2024-12-01,선,홍어,홍어
37554,(선)홍어,안흥,대,S/P,207.8,1.0,"15,000","4,000","9,200",홍어,2024,12,2024-12-01,선,홍어,홍어

컬럼 순서 재배치

In [20]:
columns = ['date', 'year', 'month'] + [col for col in data_all.columns if col not in ['date', 'year', 'month']]
data_all = data_all[columns]

print("✓ 컬럼 순서 변경 완료!")
print(f"\n변경된 컬럼 순서:")
for i, col in enumerate(data_all.columns, 1):
    print(f"  {i}. {col}")

print(f"\n처음 5행:")
print(data_all.head())

✓ 컬럼 순서 변경 완료!

변경된 컬럼 순서:
  1. date
  2. year
  3. month
  4. 어종
  5. 산지
  6. 규격
  7. 포장
  8. 수량
  9. 중량
  10. 낙찰고가
  11. 낙찰저가
  12. 평균가
  13. 파일어종
  14. 전처리
  15. 품목명
  16. 공통어종

처음 5행:
         date  year  month     어종   산지   규격   포장  수량    중량     낙찰고가     낙찰저가  \
0  2021-01-01  2021      1  (선)갈치   목포   5미  S/P   1  15.0  110,000  110,000
1  2021-01-01  2021      1  (선)갈치   목포  10미  S/P  39  15.0  200,000   30,000
2  2021-01-01  2021      1  (선)갈치   목포    중  S/P   3  20.0  110,000   77,000
3  2021-01-01  2021      1  (선)갈치   목포   8미  S/P  25  20.0  155,000   50,000
4  2021-01-01  2021      1  (선)갈치  삼천포    중  S/P   2  20.0  200,000  200,000

       평균가 파일어종 전처리 품목명 공통어종
0  110,000   갈치   선  갈치   갈치
1  141,700   갈치   선  갈치   갈치
2   99,000   갈치   선  갈치   갈치
3  138,600   갈치   선  갈치   갈치
4  200,000   갈치   선  갈치   갈치

In [21]:
data_all.head(2)

,date,year,month,어종,산지,규격,포장,수량,중량,낙찰고가,낙찰저가,평균가,파일어종,전처리,품목명,공통어종
0,2021-01-01,2021,1,(선)갈치,목포,5미,S/P,1,15.0,"110,000","110,000","110,000",갈치,선,갈치,갈치
1,2021-01-01,2021,1,(선)갈치,목포,10미,S/P,39,15.0,"200,000","30,000","141,700",갈치,선,갈치,갈치

 평균가와 낙찰고가,낙찰고가 컬럼의 문자 -> 점수 변환(콤마제거)

In [23]:
for col in ['평균가', '낙찰고가', '낙찰저가']:
    data_all[col] = pd.to_numeric(
        data_all[col].astype(str).str.replace(',', ''), 
        errors='coerce'  # 변환 실패시 NaN으로 처리
    )
    print(f"✓ {col} 변환 완료")

✓ 평균가 변환 완료
✓ 낙찰고가 변환 완료
✓ 낙찰저가 변환 완료

전체 데이터에서 어종공통 별  어종의 종류가 몇가지인지 확인

In [26]:
# 공통어종별 어종 분석
summary = data_all.groupby('공통어종').agg({
    '어종': ['nunique', lambda x: ', '.join(x.unique())]
}).reset_index()

summary.columns = ['공통어종', '어종_개수', '어종_목록']
summary = summary.sort_values('어종_개수', ascending=False)

print("공통어종별 어종 종류:")
print(summary.to_string(index=False))

# 각 공통어종별 데이터 개수도 함께
detailed = data_all.groupby('공통어종').agg({
    '어종': ['nunique', 'count']
}).reset_index()
detailed.columns = ['공동어종', '어종_종류수', '전체_데이터수']
detailed = detailed.sort_values('어종_종류수', ascending=False)

print("\n" + "=" * 60)
print("공통어종별 상세 정보:")
print(detailed.to_string(index=False))

공통어종별 어종 종류:
공통어종  어종_개수                                                                                                        어종_목록
 오징어     12 (선)갑오징어, (냉)갑오징어, (선)대포오징어, (냉)대포오징어, (선)오징어, (냉)오징어, (냉건)오징어, (냉건)오징어채, (선)살오징어, (활)갑오징어, (활)오징어, (선)갑오징어기타
  조기     11                        (선)백조기, (냉)백조기, (선)수조기, (냉)조기, (선)참조기, (냉)참조기, (냉)수조기, (활)수조기, (선)조기, (활)백조기, (냉건)백조기
 바지락      8                                       (활)겉바지락, (선)깐바지락, (활)물바지락, (활)봉바지락, (활)칼바지락, (활)토바지락, (냉)깐바지락, (냉)물바지락
  갈치      8                                           (선)갈치, (냉)갈치, (선)은갈치, (냉)은갈치, (선)먹갈치, (선)갈치 기타, (냉)먹갈치, (냉)갈치(H/G)
 고등어      8                                         (선)고등어, (냉)고등어, (냉)염고등어, (선)점고등어, (활)고등어, (냉)망치고등어, (선)염고등어, (냉)점고등어
  대구      7                                                   (선)대구, (냉)대구, (냉)대구 기타, (냉)대구(H/G), (선)민대구, (선)대구횟대, (활)대구
  우럭      6                                                               (활)우럭, (선)우럭, (활)우럭조개, (선)우럭조개, (냉)우럭조개, (냉)우럭
  명태      6                                                         (선)명태, (냉)명태, (냉)명태(H/G), (냉)명태포, (냉)명태고니, (냉건)코다리명태
  넙치      5                                                                          (활)넙치, (선)넙치, (냉)넙치, (활)찰넙치, (선)찰넙치
  홍어      3                                                                                          (선)홍어, (냉)홍어, (활)홍어
  전복      3                                                                                          (활)전복, (선)전복, (냉)전복
  꽁치      3                                                                                         (냉)꽁치, (선)학꽁치, (선)꽁치
  낙지      3                                                                                          (활)낙지, (선)낙지, (냉)낙지
 가자미      1                                                                                                       (선)가자미
 도다리      1                                                                                                       (활)도다리
  양태      1                                                                                                        (선)양태
  병어      1                                                                                                        (선)병어

============================================================
공통어종별 상세 정보:
공동어종  어종_종류수  전체_데이터수
 오징어      12     5012
  조기      11     5337
 바지락       8     3332
  갈치       8    10109
 고등어       8     2052
  대구       7     1649
  우럭       6     2144
  명태       6      428
  넙치       5     2139
  홍어       3     1337
  전복       3     3476
  꽁치       3      430
  낙지       3      106
 가자미       1        1
 도다리       1        1
  양태       1        1
  병어       1        1

In [27]:
summary

   공통어종  어종_개수                                              어종_목록
12  오징어     12  (선)갑오징어, (냉)갑오징어, (선)대포오징어, (냉)대포오징어, (선)오징어, ...
15   조기     11  (선)백조기, (냉)백조기, (선)수조기, (냉)조기, (선)참조기, (냉)참조기,...
9   바지락      8  (활)겉바지락, (선)깐바지락, (활)물바지락, (활)봉바지락, (활)칼바지락, (...
1    갈치      8  (선)갈치, (냉)갈치, (선)은갈치, (냉)은갈치, (선)먹갈치, (선)갈치 기타...
2   고등어      8  (선)고등어, (냉)고등어, (냉)염고등어, (선)점고등어, (활)고등어, (냉)망...
6    대구      7  (선)대구, (냉)대구, (냉)대구 기타, (냉)대구(H/G), (선)민대구, (선...
13   우럭      6     (활)우럭, (선)우럭, (활)우럭조개, (선)우럭조개, (냉)우럭조개, (냉)우럭
8    명태      6  (선)명태, (냉)명태, (냉)명태(H/G), (냉)명태포, (냉)명태고니, (냉건...
5    넙치      5                (활)넙치, (선)넙치, (냉)넙치, (활)찰넙치, (선)찰넙치
16   홍어      3                                (선)홍어, (냉)홍어, (활)홍어
14   전복      3                                (활)전복, (선)전복, (냉)전복
3    꽁치      3                               (냉)꽁치, (선)학꽁치, (선)꽁치
4    낙지      3                                (활)낙지, (선)낙지, (냉)낙지
0   가자미      1                                             (선)가자미
7   도다리      1                                             (활)도다리
11   양태      1                                              (선)양태
10   병어      1                                              (선)병어

## 평균가

#### 연도별 어종별

In [28]:
# 연도별 어종별 평균 시세
yearly_avg = data_all.groupby(['year', '어종'])['평균가'].mean().reset_index()
yearly_avg['평균가'] = yearly_avg['평균가'].round(0).astype(int)

print("=" * 60)
print("연도별 어종별 평균 시세:")
print("=" * 60)
print(yearly_avg)

# 피벗 테이블로 보기 좋게
pivot_table = data_all.pivot_table(
    values='평균가', 
    index='어종', 
    columns='year', 
    aggfunc='mean'
).round(0)

============================================================
연도별 어종별 평균 시세:
============================================================
     year       어종    평균가
0    2021    (냉)갈치  90825
1    2021  (냉)갑오징어  80500
2    2021   (냉)고등어  40463
3    2021    (냉)꽁치  57070
4    2021    (냉)낙지  34650
..    ...      ...    ...
254  2024    (활)전복  23253
255  2024   (활)찰넙치  19885
256  2024  (활)칼바지락  13868
257  2024  (활)토바지락   5286
258  2024    (활)홍어   6167

[259 rows x 3 columns]

In [32]:
# 연도별 어종별 평균 시세 데이터프레임
yearly_avg_price = data_all.groupby(['year', '어종'])['평균가'].mean().reset_index()
yearly_avg_price['평균가'] = yearly_avg_price['평균가'].round(0).astype(int)
yearly_avg_price = yearly_avg_price.sort_values(['year', '평균가'], ascending=[True, False])

print("=" * 60)
print("연도별 어종별 평균 시세 데이터프레임:")
print("=" * 60)
print(yearly_avg_price)

print(f"\n총 {len(yearly_avg_price)}개 행")
print(f"연도 범위: {yearly_avg_price['year'].min()} ~ {yearly_avg_price['year'].max()}")
print(f"어종 종류: {yearly_avg_price['어종'].nunique()}개")

# 피벗 테이블로 보기 (어종을 행, 연도를 열로)
print("\n" + "=" * 60)
print("피벗 테이블 형태:")
print("=" * 60)
pivot_df = yearly_avg_price.pivot(index='어종', columns='year', values='평균가')
pivot_df = pivot_df.fillna(0).astype(int)  # NaN을 0으로 채우고 정수로 변환
print(pivot_df)

============================================================
연도별 어종별 평균 시세 데이터프레임:
============================================================
     year        어종     평균가
49   2021    (선)참조기  235869
41   2021   (선)살오징어  150000
19   2021    (냉)은갈치  125367
22   2021    (냉)참조기  105287
9    2021  (냉)대포오징어   99000
..    ...       ...     ...
237  2024     (선)전복    5764
257  2024   (활)토바지락    5286
240  2024    (선)찰넙치    2500
213  2024     (냉)홍어    1650
231  2024     (선)양태    1500

[259 rows x 3 columns]

총 259개 행
연도 범위: 2021 ~ 2024
어종 종류: 87개

============================================================
피벗 테이블 형태:
============================================================
year         2021    2022   2023    2024
어종
(냉)갈치       90825  108722  95291  114698
(냉)갈치(H/G)      0       0  60450   59233
(냉)갑오징어     80500   35667  18789   50140
(냉)고등어      40463   42190  52442   56159
(냉)깐바지락         0    5000   8020       0
...           ...     ...    ...     ...
(활)전복       25279   32441  24373   23253
(활)찰넙치      17880   16000  21589   19885
(활)칼바지락     10063   11147  13764   13868
(활)토바지락      4949    5872   5854    5286
(활)홍어        1800    6800   7000    6167

[87 rows x 4 columns]

In [33]:
yearly_avg_price

     year        어종     평균가
49   2021    (선)참조기  235869
41   2021   (선)살오징어  150000
19   2021    (냉)은갈치  125367
22   2021    (냉)참조기  105287
9    2021  (냉)대포오징어   99000
..    ...       ...     ...
237  2024     (선)전복    5764
257  2024   (활)토바지락    5286
240  2024    (선)찰넙치    2500
213  2024     (냉)홍어    1650
231  2024     (선)양태    1500

[259 rows x 3 columns]

#### 월별 어종별

In [34]:
# 월별 어종별 평균 시세 데이터프레임
monthly_avg_price = data_all.groupby(['year', 'month', '어종'])['평균가'].mean().reset_index()
monthly_avg_price['평균가'] = monthly_avg_price['평균가'].round(0).astype(int)
monthly_avg_price = monthly_avg_price.sort_values(['year', 'month', '평균가'], ascending=[True, True, False])

print("=" * 80)
print("연도별 월별 어종별 평균 시세 데이터프레임:")
print("=" * 80)
print(monthly_avg_price)

print(f"\n총 {len(monthly_avg_price):,}개 행")
print(f"연도 범위: {monthly_avg_price['year'].min()} ~ {monthly_avg_price['year'].max()}")
print(f"월 범위: {monthly_avg_price['month'].min()} ~ {monthly_avg_price['month'].max()}")
print(f"어종 종류: {monthly_avg_price['어종'].nunique()}개")

# 특정 어종의 월별 추이 (예: 갈치)
print("\n" + "=" * 80)
print("갈치의 월별 평균 시세:")
print("=" * 80)
galchi_monthly = monthly_avg_price[monthly_avg_price['어종'] == '(선)갈치']
print(galchi_monthly)

# 피벗 테이블: 어종별 월별 평균 (연도 통합)
print("\n" + "=" * 80)
print("월별 어종별 평균 시세 피벗 테이블 (1~12월):")
print("=" * 80)
pivot_monthly = data_all.groupby(['month', '어종'])['평균가'].mean().reset_index()
pivot_monthly_table = pivot_monthly.pivot(index='어종', columns='month', values='평균가')
pivot_monthly_table = pivot_monthly_table.round(0).fillna(0).astype(int)
print(pivot_monthly_table)

================================================================================
연도별 월별 어종별 평균 시세 데이터프레임:
================================================================================
      year  month        어종     평균가
31    2021      1    (선)참조기  368135
13    2021      1    (냉)은갈치  217500
17    2021      1     (선)갈치  150082
16    2021      1    (냉)참조기  119750
6     2021      1  (냉)대포오징어   99000
...    ...    ...       ...     ...
1945  2024     12     (선)넙치    7794
1966  2024     12   (활)우럭조개    7200
1970  2024     12   (활)토바지락    4500
1939  2024     12     (냉)전복    2500
1952  2024     12     (선)양태    1500

[1971 rows x 4 columns]

총 1,971개 행
연도 범위: 2021 ~ 2024
월 범위: 1 ~ 12
어종 종류: 87개

================================================================================
갈치의 월별 평균 시세:
================================================================================
      year  month     어종     평균가
17    2021      1  (선)갈치  150082
64    2021      2  (선)갈치  148550
106   2021      3  (선)갈치  124200
150   2021      4  (선)갈치  159167
195   2021      5  (선)갈치   55638
241   2021      6  (선)갈치   50930
284   2021      7  (선)갈치   30072
323   2021      8  (선)갈치   32562
364   2021      9  (선)갈치   36508
405   2021     10  (선)갈치   53987
446   2021     11  (선)갈치   66730
484   2021     12  (선)갈치   85681
528   2022      1  (선)갈치  127543
569   2022      2  (선)갈치  165071
608   2022      3  (선)갈치  154600
645   2022      4  (선)갈치  175393
686   2022      5  (선)갈치   27431
722   2022      6  (선)갈치   28083
760   2022      7  (선)갈치   38470
797   2022      8  (선)갈치   34978
836   2022      9  (선)갈치   48548
872   2022     10  (선)갈치   58223
913   2022     11  (선)갈치  114096
955   2022     12  (선)갈치   94507
1000  2023      1  (선)갈치  112880
1040  2023      2  (선)갈치   74925
1079  2023      3  (선)갈치  130150
1115  2023      4  (선)갈치   71500
1158  2023      5  (선)갈치  101772
1200  2023      6  (선)갈치  150193
1238  2023      7  (선)갈치   35527
1277  2023      8  (선)갈치   28558
1316  2023      9  (선)갈치  104608
1351  2023     10  (선)갈치   69946
1392  2023     11  (선)갈치   88520
1437  2023     12  (선)갈치   97374
1481  2024      1  (선)갈치   97607
1524  2024      2  (선)갈치  133024
1569  2024      3  (선)갈치  209750
1611  2024      4  (선)갈치  200240
1652  2024      5  (선)갈치  160875
1694  2024      6  (선)갈치  165581
1735  2024      7  (선)갈치  136127
1774  2024      8  (선)갈치  109213
1813  2024      9  (선)갈치  104676
1856  2024     10  (선)갈치   80334
1898  2024     11  (선)갈치   63876
1941  2024     12  (선)갈치   58841

================================================================================
월별 어종별 평균 시세 피벗 테이블 (1~12월):
================================================================================
month          1       2      3       4       5       6       7       8   \
어종
(냉)갈치       82248  104638  71131  119088  115451  106406  114542  109506
(냉)갈치(H/G)      0       0  49100       0   50200       0   70050       0
(냉)갑오징어     44880   11200  60000       0   34000       0   98800       0
(냉)고등어      43337   44349  47856   44891   46639   42626   51385   46035
(냉)깐바지락      7450       0      0       0       0       0       0       0
...           ...     ...    ...     ...     ...     ...     ...     ...
(활)전복       26945   26527  24779   27570   28472   25820   22317   26832
(활)찰넙치      16867   20025  21533   11850   24050   16000   14000   20233
(활)칼바지락      9756   12992  10690   12029   14734   10549   11126   12619
(활)토바지락      5800    5422   4822    5043    7385    4467    4758    5190
(활)홍어           0    6500   6000    6800    7000       0       0       0

month           9      10     11     12
어종
(냉)갈치       110943  99958  59390  77340
(냉)갈치(H/G)   56400  59600  60450      0
(냉)갑오징어     100000  77333  30000   8271
(냉)고등어       40900  53077  46067  44529
(냉)깐바지락       5000      0  10300      0
...            ...    ...    ...    ...
(활)전복        25725  24662  29611  26908
(활)찰넙치       24300  19200  17650  19971
(활)칼바지락      14772  11738  12081   9948
(활)토바지락       5300   5020   5378   5640
(활)홍어            0      0      0   1800

[87 rows x 12 columns]

In [35]:
monthly_avg_price

      year  month        어종     평균가
31    2021      1    (선)참조기  368135
13    2021      1    (냉)은갈치  217500
17    2021      1     (선)갈치  150082
16    2021      1    (냉)참조기  119750
6     2021      1  (냉)대포오징어   99000
...    ...    ...       ...     ...
1945  2024     12     (선)넙치    7794
1966  2024     12   (활)우럭조개    7200
1970  2024     12   (활)토바지락    4500
1939  2024     12     (냉)전복    2500
1952  2024     12     (선)양태    1500

[1971 rows x 4 columns]

#### 일별 어종별

In [44]:
# 일별 공통어종별 평균 시세 데이터프레임
daily_avg_price_common = data_all.groupby(['date', '공통어종'])['평균가'].mean().reset_index()
daily_avg_price_common['평균가'] = daily_avg_price_common['평균가'].round(0).astype(int)
daily_avg_price_common = daily_avg_price_common.sort_values(['date', '평균가'], ascending=[True, False])

print("=" * 80)
print("일별 공통어종별 평균 시세 데이터프레임:")
print("=" * 80)
print(daily_avg_price_common)

print(f"\n총 {len(daily_avg_price_common):,}개 행")
print(f"기간: {daily_avg_price_common['date'].min()} ~ {daily_avg_price_common['date'].max()}")
print(f"공통어종 종류: {daily_avg_price_common['공통어종'].nunique()}개")

# 최근 데이터 확인 (최근 50행)
print("\n" + "=" * 80)
print("최근 데이터 (처음 50행):")
print("=" * 80)
print(daily_avg_price_common.head(50))

# 공통어종 목록
print("\n" + "=" * 80)
print("공통어종 목록:")
print("=" * 80)
print(daily_avg_price_common['공통어종'].unique())

================================================================================
일별 공통어종별 평균 시세 데이터프레임:
================================================================================
           date 공통어종     평균가
10   2021-01-01   조기  177561
0    2021-01-01   갈치  102989
7    2021-01-01  오징어   59796
11   2021-01-01   홍어   49980
8    2021-01-01   우럭   46945
..          ...  ...     ...
578  2024-12-01   홍어   25593
575  2024-12-01   우럭   19556
570  2024-12-01   대구   18930
569  2024-12-01   넙치   15069
573  2024-12-01   양태    1500

[579 rows x 3 columns]

총 579개 행
기간: 2021-01-01 ~ 2024-12-01
공통어종 종류: 17개

================================================================================
최근 데이터 (처음 50행):
================================================================================
          date 공통어종     평균가
10  2021-01-01   조기  177561
0   2021-01-01   갈치  102989
7   2021-01-01  오징어   59796
11  2021-01-01   홍어   49980
8   2021-01-01   우럭   46945
3   2021-01-01   낙지   42295
2   2021-01-01   꽁치   36738
5   2021-01-01   명태   35600
1   2021-01-01  고등어   30703
4   2021-01-01   넙치   30050
9   2021-01-01   전복   21766
6   2021-01-01  바지락   21664
12  2021-02-01   갈치   96976
22  2021-02-01   조기   91801
19  2021-02-01  오징어   59014
20  2021-02-01   우럭   55474
16  2021-02-01   대구   51226
23  2021-02-01   홍어   48327
14  2021-02-01   꽁치   40893
17  2021-02-01   명태   37350
13  2021-02-01  고등어   33968
21  2021-02-01   전복   25286
15  2021-02-01   넙치   22940
18  2021-02-01  바지락   22825
34  2021-03-01   조기  109652
24  2021-03-01   갈치   99681
35  2021-03-01   홍어   77384
31  2021-03-01  오징어   60814
28  2021-03-01   대구   42588
26  2021-03-01   꽁치   40138
25  2021-03-01  고등어   38364
32  2021-03-01   우럭   33669
29  2021-03-01   명태   32633
30  2021-03-01  바지락   23741
33  2021-03-01   전복   20152
27  2021-03-01   넙치   18921
46  2021-04-01   조기  119762
36  2021-04-01   갈치  118338
43  2021-04-01  오징어   47650
40  2021-04-01   대구   38672
41  2021-04-01   명태   38338
38  2021-04-01   꽁치   37467
37  2021-04-01  고등어   35952
44  2021-04-01   우럭   33030
45  2021-04-01   전복   27014
42  2021-04-01  바지락   21479
47  2021-04-01   홍어   13200
39  2021-04-01   넙치    8647
48  2021-05-01   갈치   87566
58  2021-05-01   조기   62529

================================================================================
공통어종 목록:
================================================================================
['조기' '갈치' '오징어' '홍어' '우럭' '낙지' '꽁치' '명태' '고등어' '넙치' '전복' '바지락' '대구' '도다리'
 '가자미' '병어' '양태']

In [45]:
daily_avg_price_common

           date 공통어종     평균가
10   2021-01-01   조기  177561
0    2021-01-01   갈치  102989
7    2021-01-01  오징어   59796
11   2021-01-01   홍어   49980
8    2021-01-01   우럭   46945
..          ...  ...     ...
578  2024-12-01   홍어   25593
575  2024-12-01   우럭   19556
570  2024-12-01   대구   18930
569  2024-12-01   넙치   15069
573  2024-12-01   양태    1500

[579 rows x 3 columns]

## 낙찰고가

#### 연도별 규격별 어종별로 낙찰고가

In [58]:
# 연도별 공통어종별 낙찰고가 평균 (월, 일 무시)
yearly_common_high_price = data_all.groupby(['year', '공통어종'])['낙찰고가'].mean().reset_index()
yearly_common_high_price['낙찰고가'] = yearly_common_high_price['낙찰고가'].round(0).astype(int)
yearly_common_high_price = yearly_common_high_price.sort_values(['year', '낙찰고가'], ascending=[True, False])

print("=" * 80)
print("연도별 공통어종별 낙찰고가 평균:")
print("=" * 80)
print(yearly_common_high_price)

print(f"\n총 {len(yearly_common_high_price):,}개 행")
print(f"연도 범위: {yearly_common_high_price['year'].min()} ~ {yearly_common_high_price['year'].max()}")
print(f"공통어종 종류: {yearly_common_high_price['공통어종'].nunique()}개")

================================================================================
연도별 공통어종별 낙찰고가 평균:
================================================================================
    year 공통어종    낙찰고가
11  2021   조기  103200
0   2021   갈치   92438
9   2021   우럭   54041
8   2021  오징어   47864
3   2021   낙지   47123
2   2021   꽁치   44773
12  2021   홍어   39895
6   2021   명태   39508
5   2021   대구   35523
1   2021  고등어   34901
10  2021   전복   32303
7   2021  바지락   31565
4   2021   넙치   22457
23  2022   조기  132137
13  2022   갈치  105112
21  2022   우럭   57552
20  2022  오징어   56465
15  2022   꽁치   50870
18  2022   명태   43475
22  2022   전복   38305
19  2022  바지락   38257
24  2022   홍어   38242
14  2022  고등어   36506
17  2022   대구   31242
16  2022   넙치   18335
38  2023   조기  157739
26  2023   갈치  117311
35  2023  오징어   66541
28  2023   꽁치   45998
32  2023   명태   43060
27  2023  고등어   40040
33  2023  바지락   38027
30  2023   대구   30840
37  2023   전복   30226
34  2023   병어   27000
39  2023   홍어   23002
36  2023   우럭   22262
29  2023   넙치   22023
31  2023  도다리    9000
25  2023  가자미    6000
51  2024   조기  146373
40  2024   갈치  116084
48  2024  오징어   67621
42  2024   꽁치   49140
52  2024   홍어   47397
45  2024   명태   41412
46  2024  바지락   41322
41  2024  고등어   38560
50  2024   전복   29395
44  2024   대구   26883
43  2024   넙치   21130
49  2024   우럭   19972
47  2024   양태    2500

총 53개 행
연도 범위: 2021 ~ 2024
공통어종 종류: 17개

#### 월별 공통어종별 낙찰고가

In [56]:
# 월별 공통어종별 낙찰고가 평균 (연도 무시)
monthly_common_high_price = data_all.groupby(['month', '공통어종'])['낙찰고가'].mean().reset_index()
monthly_common_high_price['낙찰고가'] = monthly_common_high_price['낙찰고가'].round(0).astype(int)
monthly_common_high_price = monthly_common_high_price.sort_values(['month', '낙찰고가'], ascending=[True, False])

print("=" * 80)
print("월별 공통어종별 낙찰고가 평균 (연도 무시):")
print("=" * 80)
print(monthly_common_high_price)

print(f"\n총 {len(monthly_common_high_price):,}개 행")
print(f"월 범위: {monthly_common_high_price['month'].min()}월 ~ {monthly_common_high_price['month'].max()}월")
print(f"공통어종 종류: {monthly_common_high_price['공통어종'].nunique()}개")

================================================================================
월별 공통어종별 낙찰고가 평균 (연도 무시):
================================================================================
     month 공통어종    낙찰고가
11       1   조기  217502
0        1   갈치  117142
8        1  오징어   86158
2        1   꽁치   51124
3        1   낙지   47123
..     ...  ...     ...
146     12   전복   31115
148     12   홍어   26050
145     12   우럭   24043
139     12   넙치   20549
143     12   양태    2500

[149 rows x 3 columns]

총 149개 행
월 범위: 1월 ~ 12월
공통어종 종류: 17개

#### 일별 공통어종별 낙찰고가

In [77]:
# date별 공통어종별 낙찰고가 평균
date_common_high_price = data_all.groupby(['date', '공통어종'])['낙찰고가'].mean().reset_index()
date_common_high_price['낙찰고가'] = date_common_high_price['낙찰고가'].round(0).astype(int)
date_common_high_price = date_common_high_price.sort_values(['date', '낙찰고가'], ascending=[True, False])

print("=" * 80)
print("date별 공통어종별 낙찰고가 평균:")
print("=" * 80)
print(date_common_high_price)

print(f"\n총 {len(date_common_high_price):,}개 행")
print(f"기간: {date_common_high_price['date'].min()} ~ {date_common_high_price['date'].max()}")
print(f"공통어종 종류: {date_common_high_price['공통어종'].nunique()}개")

# 최근 데이터 확인 (처음 50행)
print("\n" + "=" * 80)
print("최근 데이터 (처음 50행):")
print("=" * 80)
print(date_common_high_price.head(50))

================================================================================
date별 공통어종별 낙찰고가 평균:
================================================================================
           date 공통어종    낙찰고가
10   2021-01-01   조기  190762
0    2021-01-01   갈치  117499
11   2021-01-01   홍어   73100
7    2021-01-01  오징어   66001
8    2021-01-01   우럭   56498
..          ...  ...     ...
578  2024-12-01   홍어   27358
575  2024-12-01   우럭   21992
570  2024-12-01   대구   20662
569  2024-12-01   넙치   19042
573  2024-12-01   양태    2500

[579 rows x 3 columns]

총 579개 행
기간: 2021-01-01 ~ 2024-12-01
공통어종 종류: 17개

================================================================================
최근 데이터 (처음 50행):
================================================================================
          date 공통어종    낙찰고가
10  2021-01-01   조기  190762
0   2021-01-01   갈치  117499
11  2021-01-01   홍어   73100
7   2021-01-01  오징어   66001
8   2021-01-01   우럭   56498
3   2021-01-01   낙지   47123
5   2021-01-01   명태   41235
2   2021-01-01   꽁치   39850
9   2021-01-01   전복   37229
4   2021-01-01   넙치   35826
1   2021-01-01  고등어   33290
6   2021-01-01  바지락   29145
12  2021-02-01   갈치  108691
22  2021-02-01   조기  101592
20  2021-02-01   우럭   71416
23  2021-02-01   홍어   63900
19  2021-02-01  오징어   62929
16  2021-02-01   대구   53730
14  2021-02-01   꽁치   48367
17  2021-02-01   명태   39121
13  2021-02-01  고등어   34744
21  2021-02-01   전복   32930
18  2021-02-01  바지락   29324
15  2021-02-01   넙치   25177
34  2021-03-01   조기  127883
24  2021-03-01   갈치  109237
35  2021-03-01   홍어   86255
31  2021-03-01  오징어   63409
26  2021-03-01   꽁치   45706
28  2021-03-01   대구   43562
32  2021-03-01   우럭   40807
25  2021-03-01  고등어   40102
29  2021-03-01   명태   32800
30  2021-03-01  바지락   28851
33  2021-03-01   전복   24471
27  2021-03-01   넙치   23033
46  2021-04-01   조기  130753
36  2021-04-01   갈치  128897
43  2021-04-01  오징어   51888
38  2021-04-01   꽁치   41842
44  2021-04-01   우럭   41792
40  2021-04-01   대구   40588
41  2021-04-01   명태   38512
37  2021-04-01  고등어   36850
45  2021-04-01   전복   31838
42  2021-04-01  바지락   26735
47  2021-04-01   홍어   14672
39  2021-04-01   넙치   14547
48  2021-05-01   갈치   96962
58  2021-05-01   조기   65903

In [78]:
date_common_high_price

           date 공통어종    낙찰고가
10   2021-01-01   조기  190762
0    2021-01-01   갈치  117499
11   2021-01-01   홍어   73100
7    2021-01-01  오징어   66001
8    2021-01-01   우럭   56498
..          ...  ...     ...
578  2024-12-01   홍어   27358
575  2024-12-01   우럭   21992
570  2024-12-01   대구   20662
569  2024-12-01   넙치   19042
573  2024-12-01   양태    2500

[579 rows x 3 columns]

## 낙찰저가

#### 연도 별 공통어종별 낙찰저가

In [80]:
# 연도별 공통어종별 낙찰저가 평균
yearly_common_low_price = data_all.groupby(['year', '공통어종'])['낙찰저가'].mean().reset_index()
yearly_common_low_price['낙찰저가'] = yearly_common_low_price['낙찰저가'].round(0).astype(int)
yearly_common_low_price = yearly_common_low_price.sort_values(['year', '낙찰저가'], ascending=[True, False])

print("=" * 80)
print("연도별 공통어종별 낙찰저가 평균:")
print("=" * 80)
print(yearly_common_low_price)

print(f"\n총 {len(yearly_common_low_price):,}개 행")
print(f"연도 범위: {yearly_common_low_price['year'].min()} ~ {yearly_common_low_price['year'].max()}")
print(f"공통어종 종류: {yearly_common_low_price['공통어종'].nunique()}개")

================================================================================
연도별 공통어종별 낙찰저가 평균:
================================================================================
    year 공통어종    낙찰저가
11  2021   조기   84996
0   2021   갈치   76501
3   2021   낙지   39229
8   2021  오징어   38354
6   2021   명태   37063
2   2021   꽁치   36963
9   2021   우럭   35703
5   2021   대구   32392
1   2021  고등어   30457
12  2021   홍어   29143
7   2021  바지락   19757
10  2021   전복   19634
4   2021   넙치   10614
23  2022   조기  106154
13  2022   갈치   89432
20  2022  오징어   45033
18  2022   명태   40942
15  2022   꽁치   40887
21  2022   우럭   34466
14  2022  고등어   32031
24  2022   홍어   30044
17  2022   대구   29399
22  2022   전복   25830
19  2022  바지락   23638
16  2022   넙치    6840
38  2023   조기  141736
26  2023   갈치   98483
35  2023  오징어   54391
28  2023   꽁치   38458
32  2023   명태   38058
27  2023  고등어   35164
30  2023   대구   27543
34  2023   병어   27000
33  2023  바지락   25341
37  2023   전복   18944
39  2023   홍어   18216
36  2023   우럭   15705
29  2023   넙치   10964
31  2023  도다리    9000
25  2023  가자미    6000
51  2024   조기  133381
40  2024   갈치   96812
48  2024  오징어   56528
42  2024   꽁치   44111
52  2024   홍어   43419
45  2024   명태   38969
41  2024  고등어   34406
46  2024  바지락   27083
44  2024   대구   24019
50  2024   전복   20119
49  2024   우럭   14283
43  2024   넙치   11689
47  2024   양태    1200

총 53개 행
연도 범위: 2021 ~ 2024
공통어종 종류: 17개

In [81]:
yearly_common_low_price

    year 공통어종    낙찰저가
11  2021   조기   84996
0   2021   갈치   76501
3   2021   낙지   39229
8   2021  오징어   38354
6   2021   명태   37063
2   2021   꽁치   36963
9   2021   우럭   35703
5   2021   대구   32392
1   2021  고등어   30457
12  2021   홍어   29143
7   2021  바지락   19757
10  2021   전복   19634
4   2021   넙치   10614
23  2022   조기  106154
13  2022   갈치   89432
20  2022  오징어   45033
18  2022   명태   40942
15  2022   꽁치   40887
21  2022   우럭   34466
14  2022  고등어   32031
24  2022   홍어   30044
17  2022   대구   29399
22  2022   전복   25830
19  2022  바지락   23638
16  2022   넙치    6840
38  2023   조기  141736
26  2023   갈치   98483
35  2023  오징어   54391
28  2023   꽁치   38458
32  2023   명태   38058
27  2023  고등어   35164
30  2023   대구   27543
34  2023   병어   27000
33  2023  바지락   25341
37  2023   전복   18944
39  2023   홍어   18216
36  2023   우럭   15705
29  2023   넙치   10964
31  2023  도다리    9000
25  2023  가자미    6000
51  2024   조기  133381
40  2024   갈치   96812
48  2024  오징어   56528
42  2024   꽁치   44111
52  2024   홍어   43419
45  2024   명태   38969
41  2024  고등어   34406
46  2024  바지락   27083
44  2024   대구   24019
50  2024   전복   20119
49  2024   우럭   14283
43  2024   넙치   11689
47  2024   양태    1200

#### 월별 공통어종별 낙찰저가

In [84]:
# 월별 공통어종별 낙찰저가 평균 (연도 무시)
monthly_common_low_price = data_all.groupby(['month', '공통어종'])['낙찰저가'].mean().reset_index()
monthly_common_low_price['낙찰저가'] = monthly_common_low_price['낙찰저가'].round(0).astype(int)
monthly_common_low_price = monthly_common_low_price.sort_values(['month', '낙찰저가'], ascending=[True, False])

print("=" * 80)
print("월별 공통어종별 낙찰저가 평균 (연도 무시):")
print("=" * 80)
print(monthly_common_low_price)

print(f"\n총 {len(monthly_common_low_price):,}개 행")
print(f"월 범위: {monthly_common_low_price['month'].min()}월 ~ {monthly_common_low_price['month'].max()}월")
print(f"공통어종 종류: {monthly_common_low_price['공통어종'].nunique()}개")

================================================================================
월별 공통어종별 낙찰저가 평균 (연도 무시):
================================================================================
     month 공통어종    낙찰저가
11       1   조기  184779
0        1   갈치  100016
8        1  오징어   71375
2        1   꽁치   44798
3        1   낙지   39229
..     ...  ...     ...
148     12   홍어   22974
146     12   전복   22312
145     12   우럭   16374
139     12   넙치    9361
143     12   양태    1200

[149 rows x 3 columns]

총 149개 행
월 범위: 1월 ~ 12월
공통어종 종류: 17개

In [85]:
monthly_common_low_price

     month 공통어종    낙찰저가
11       1   조기  184779
0        1   갈치  100016
8        1  오징어   71375
2        1   꽁치   44798
3        1   낙지   39229
..     ...  ...     ...
148     12   홍어   22974
146     12   전복   22312
145     12   우럭   16374
139     12   넙치    9361
143     12   양태    1200

[149 rows x 3 columns]

#### 일별 공통어종별 낙찰저가

In [88]:
# date별 공통어종별 낙찰저가 평균
date_common_low_price = data_all.groupby(['date', '공통어종'])['낙찰저가'].mean().reset_index()
date_common_low_price['낙찰저가'] = date_common_low_price['낙찰저가'].round(0).astype(int)
date_common_low_price = date_common_low_price.sort_values(['date', '낙찰저가'], ascending=[True, False])

print("=" * 80)
print("date별 공통어종별 낙찰저가 평균:")
print("=" * 80)
print(date_common_low_price)

print(f"\n총 {len(date_common_low_price):,}개 행")
print(f"기간: {date_common_low_price['date'].min()} ~ {date_common_high_price['date'].max()}")
print(f"공통어종 종류: {date_common_low_price['공통어종'].nunique()}개")

# 최근 데이터 확인 (처음 50행)
print("\n" + "=" * 80)
print("최근 데이터 (처음 50행):")
print("=" * 80)
print(date_common_low_price.head(50))

================================================================================
date별 공통어종별 낙찰저가 평균:
================================================================================
           date 공통어종    낙찰저가
10   2021-01-01   조기  164941
0    2021-01-01   갈치   90732
7    2021-01-01  오징어   54101
3    2021-01-01   낙지   39229
8    2021-01-01   우럭   39155
..          ...  ...     ...
578  2024-12-01   홍어   24395
570  2024-12-01   대구   17412
575  2024-12-01   우럭   16733
569  2024-12-01   넙치    9731
573  2024-12-01   양태    1200

[579 rows x 3 columns]

총 579개 행
기간: 2021-01-01 ~ 2024-12-01
공통어종 종류: 17개

================================================================================
최근 데이터 (처음 50행):
================================================================================
          date 공통어종    낙찰저가
10  2021-01-01   조기  164941
0   2021-01-01   갈치   90732
7   2021-01-01  오징어   54101
3   2021-01-01   낙지   39229
8   2021-01-01   우럭   39155
11  2021-01-01   홍어   39100
5   2021-01-01   명태   34735
2   2021-01-01   꽁치   32375
1   2021-01-01  고등어   29162
4   2021-01-01   넙치   25543
6   2021-01-01  바지락   17205
9   2021-01-01   전복   16726
22  2021-02-01   조기   86399
12  2021-02-01   갈치   83487
19  2021-02-01  오징어   54245
16  2021-02-01   대구   48956
20  2021-02-01   우럭   41889
17  2021-02-01   명태   36750
23  2021-02-01   홍어   35067
14  2021-02-01   꽁치   34833
13  2021-02-01  고등어   32754
21  2021-02-01   전복   20234
15  2021-02-01   넙치   18986
18  2021-02-01  바지락   17176
34  2021-03-01   조기  104559
24  2021-03-01   갈치   90977
35  2021-03-01   홍어   73454
31  2021-03-01  오징어   56864
28  2021-03-01   대구   41056
25  2021-03-01  고등어   37055
26  2021-03-01   꽁치   34250
29  2021-03-01   명태   32483
32  2021-03-01   우럭   26922
30  2021-03-01  바지락   20240
33  2021-03-01   전복   17897
27  2021-03-01   넙치   13136
46  2021-04-01   조기  115045
36  2021-04-01   갈치  107793
43  2021-04-01  오징어   43823
41  2021-04-01   명태   38250
40  2021-04-01   대구   36128
37  2021-04-01  고등어   35233
38  2021-04-01   꽁치   34296
44  2021-04-01   우럭   25700
45  2021-04-01   전복   22970
42  2021-04-01  바지락   18310
47  2021-04-01   홍어   11490
39  2021-04-01   넙치    2993
48  2021-05-01   갈치   80129
58  2021-05-01   조기   58451

In [89]:
date_common_low_price

           date 공통어종    낙찰저가
10   2021-01-01   조기  164941
0    2021-01-01   갈치   90732
7    2021-01-01  오징어   54101
3    2021-01-01   낙지   39229
8    2021-01-01   우럭   39155
..          ...  ...     ...
578  2024-12-01   홍어   24395
570  2024-12-01   대구   17412
575  2024-12-01   우럭   16733
569  2024-12-01   넙치    9731
573  2024-12-01   양태    1200

[579 rows x 3 columns]

## 규격

#### 어종별 가장 많이 거래되는 규격

In [106]:
data_all['규격'].unique()

array(['5미', '10미', '중', '8미', '4미', '40미', '350/450', '300/400',
       '40/45미', '500/700', '대', '20미', '소', '6미', '2미', '23미', '12미',
       '15미', '3미', '13미', '진통', '39미', '7미', '24미', '45미', '11미', '32미',
       '9미', '16미', '27미', '26미', '17미', '25미', '14미', '18미', '35미',
       '30미', '28미', '특대', '53미', '18/19미', '24/25미', '700/900', '900UP',
       '38미', '55미', '44미', '21미', '6/7미', '9/10미', '54미', '50/51미', '1미',
       '19미', '58미', '31미', '50/60미', '37미', '31/32미', '42미', '28/29미',
       '43미', '21/22미', '550/650', '파치', '19/20미', '400/500', '65미',
       '83미', '48미', '70미', '49미', '25/26미', '23/24미', '77미', '69미',
       '72미', '75미', '50미', '22/23미', '47미', '66미', '68미', '78미',
       '27/28미', '30/31미', '22미', '29미', '41미', '33미', '35/36미', '62미',
       '36미', '51미', '바라', '35/40미', '25/30미', '52미', '42/43미', '30/35미',
       '60미', '120미', '150미', '100미', '37/38미', '34미', '88미', '46미',
       '33/34미', '38/39미', '20/25미', '12/13미', '40/41미', '44/45미',
       '41/42미', '소소', '32/33미', '8/9미', '17/18미', '2단', '80미', '11/12미',
       '46/47미', '29/30미', '20/21미', '45/46미', '63미', '48/49미', '대중',
       '14/15미', '57미', '15/16미', '40/50미', '7/8미', '16/17미', '200/300',
       '110미', '300/500', '47/48미', '49/50미', '43/44미', '56미', '39/40미',
       '36/37미', '34/35미', '45/50미', '67미', '500/600', '61미', '400/600',
       '59미', '10/11미', '160/165미', '60/80', '180미', '70/90', '30/40미',
       '6통', '4통', '9통', '3통', '7통', '5통', '8통', '700/800', '12/15',
       '15/17', '10/12', '2L', '2S', 'L', '8/10', '8손', '13/14미', '20손',
       '10손', '중소', '24손', '82미', '250/350', '3단', '100/150', '16손',
       '150/200', '100up', '5봉', '4봉', '5/6미', '3/4미', '4/5미', '2/3미',
       '10/20미', '1/2미', '5/10미', '10/15미', '1번', '76미', '2번', 'M1', 'M',
       'S', '5단', '4단', '3L', '2봉', '10봉', '20봉', '13봉', '14봉', '16봉',
       '7봉', '8봉', '15봉', '1봉', '5코', '10코', 'M2', '3코', '2코', '4코',
       '20/30미', '6코', '15/20미', '26/27미', '85미', '80/100', '130미',
       '140미', '200미', '73미', '74미', '71미', '10단', '110/160', '9단', '95미',
       '90미', '190미', '98미', '18코', '12코', '15코', '11코', '87미', '94미',
       '92미', '89미', '96미', '64미', '86미', '91미', '1단'], dtype=object)

In [90]:
data_all.head(2)

,date,year,month,어종,산지,규격,포장,수량,중량,낙찰고가,낙찰저가,평균가,파일어종,전처리,품목명,공통어종
0,2021-01-01,2021,1,(선)갈치,목포,5미,S/P,1,15.0,110000,110000,110000,갈치,선,갈치,갈치
1,2021-01-01,2021,1,(선)갈치,목포,10미,S/P,39,15.0,200000,30000,141700,갈치,선,갈치,갈치

In [99]:
# 1. 어종/규격 조합별 거래 건수 집계
counts = data_all.groupby(['어종', '규격_정제']).size().reset_index(name='count')

# 2. 어종별로 거래량이 가장 많은 규격만 추출
idx = counts.groupby('어종')['count'].idxmax()
most_traded_specs = counts.loc[idx].reset_index(drop=True)

# 3. 집계 건수가 많은 순서대로 내림차순 정렬
most_traded_specs_sorted = most_traded_specs.sort_values('count', ascending=False).reset_index(drop=True)

print("어종별 가장 많이 거래된 규격 (집계 건수순):")
print(most_traded_specs_sorted)

어종별 가장 많이 거래된 규격 (집계 건수순):
         어종   규격_정제  count
0   (활)물바지락       대    991
1   (선)깐바지락       소    763
2     (활)넙치       중    689
3    (선)은갈치     10미    658
4     (선)넙치       중    513
..      ...     ...    ...
82    (냉)우럭  10/20미      1
83    (선)양태       중      1
84   (활)도다리       중      1
85   (활)백조기     10미      1
86   (활)오징어      1미      1

[87 rows x 3 columns]

In [102]:
most_traded_specs_sorted

         어종   규격_정제  count
0   (활)물바지락       대    991
1   (선)깐바지락       소    763
2     (활)넙치       중    689
3    (선)은갈치     10미    658
4     (선)넙치       중    513
..      ...     ...    ...
82    (냉)우럭  10/20미      1
83    (선)양태       중      1
84   (활)도다리       중      1
85   (활)백조기     10미      1
86   (활)오징어      1미      1

[87 rows x 3 columns]

#### 공통어종별 가장 적게 거래되는

In [103]:
# 2. 어종별로 거래량이 가장 적은 규격만 추출
idx_min = counts.groupby('어종')['count'].idxmin()
least_traded_specs = counts.loc[idx_min].reset_index(drop=True)

# 3. 집계 건수가 적은 순서대로 내림차순 정렬 (원하면 오름차순)
least_traded_specs_sorted = least_traded_specs.sort_values('count', ascending=True).reset_index(drop=True)

print("어종별 가장 적게 거래된 규격 (집계 건수순):")
print(least_traded_specs_sorted)

어종별 가장 적게 거래된 규격 (집계 건수순):
            어종    규격_정제  count
0        (냉)갈치     110미      1
1   (냉)갈치(H/G)  300/500      1
2      (냉)갑오징어      10미      1
3       (냉)고등어  200/300      1
4      (냉)깐바지락      13봉      1
..         ...      ...    ...
82     (선)대구횟대        중      5
83     (활)칼바지락        소      7
84       (활)홍어        중      7
85     (활)겉바지락        소      9
86       (활)대구        중     15

[87 rows x 3 columns]

In [104]:
least_traded_specs_sorted

            어종    규격_정제  count
0        (냉)갈치     110미      1
1   (냉)갈치(H/G)  300/500      1
2      (냉)갑오징어      10미      1
3       (냉)고등어  200/300      1
4      (냉)깐바지락      13봉      1
..         ...      ...    ...
82     (선)대구횟대        중      5
83     (활)칼바지락        소      7
84       (활)홍어        중      7
85     (활)겉바지락        소      9
86       (활)대구        중     15

[87 rows x 3 columns]

## 포장

#### 포장 방법의 종류

In [105]:
data_all['포장'].unique()

array(['S/P', 'CT/(BT)', 'PAN(펜)', 'c/s(상자)', 'box', 'kg', '가구', '미(마리)',
       '그물망', '망', '포', '장', '봉지', '축', 'D/M', '두름'], dtype=object)

#### 가장 많이 거래되는 포장 방법

In [109]:
data_all['포장'].value_counts().index[0]

'S/P'

In [110]:
# 상위 5개
data_all['포장'].value_counts().head(5)

포장
S/P        21854
kg          6852
box         4169
CT/(BT)     2434
PAN(펜)       703
Name: count, dtype: int64

#### 연도 별 가장 많이 거래되는 포장 방법
#### 년으로 조회 했을때 S/P가 가장 많아서 월별, 일별을 조회하는 것이 의미가 없다고 판단

In [114]:
most_frequent_packaging_by_year = data_all.groupby('year')['포장'].agg(lambda x: x.mode().iloc[0])

# 결과 확인
print(most_frequent_packaging_by_year)

year
2021    S/P
2022    S/P
2023    S/P
2024    S/P
Name: 포장, dtype: object